* {
	padding:0;
	margin:0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color:#333;
	font-weight: normal;
}

a {
	color:#f7423f;
	text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea, 
select {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 1em;
    background: #e4e4e4;
    outline: none;
    width: 100%;
}

.textupper {
	text-transform: uppercase;
}
.textcenter {
	text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    background: red;
    color: #fff;
    font-weight: bold;
    border:0;
}

.innerwrap {
    width: 1240px;
    margin: 0px auto;
    display: table;
}

.container {
    border-top: 5px solid #f9533f;
    border-bottom: 5px solid #f9533f;
}

.logo {
	width: 180px;
}
.logo img {
	width: 100%;
}



/* header section */
.headsection {
	background: #fafafa;
    box-shadow: 0 0 16px -5px #020202;
}
header .contactus {
    position: relative;
    margin: 18px 0;
}
header .contactus p {
    font-size: 0.65em;
    text-transform: uppercase;
    padding: 5px;
    color: #777;
    font-weight: bold;
    letter-spacing: 1px;
}
header .contactus h5 {
    font-weight: bold;
    font-size: 1em;
    padding: 0px 10px;
    letter-spacing: 4px;
}
header .phoneicon {
    font-size: 3em;
    position: absolute;
    top: -2px;
    left: -35px;
    transform: rotate(20deg);
    color: #03A9F4;
}

/* Navigation */

.navigation {
    position: relative;
}
ul.mainnav {
    display: inline-block;
    width: 100%;
    background: #f7423f;
    border-radius: 0 0 8px 8px;
}
ul.mainnav li {
    display: inline-block;
    float: left;
}
ul.mainnav li a {
    padding: 18px 25px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

/* Search */
.searchbar {
    position: absolute;
    top: 0;
    right: 0;
}
.searchbar label {
    display: inline-block;
    position: relative;
}
.searchbar input {
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #f7423f;
    margin: 8px;
    width: 240px;
    background: #ea3f3c;
    padding-right: 36px;
}

.searchbar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f6f6f6;
}
.searchbar input::-moz-placeholder { /* Firefox 19+ */
  color: #f6f6f6;
}
.searchbar input:-ms-input-placeholder { /* IE 10+ */
  color: #f6f6f6;
}
.searchbar input:-moz-placeholder { /* Firefox 18- */
  color: #f6f6f6;
}

.searchbar .icon {
    color: #ffb6b5;
    position: absolute;
    top: 13px;
    right: 19px;
    font-size: 1.6em;
}

/* breadcrums */
ul.mainbreadcrums {
    display: inline-block;
    /* float: left; */
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #e6e6e6;
}
ul.mainbreadcrums li {
    list-style: none;
    /* float: left; */
    display: inline-block;
    /* width: 100%; */
    /* text-align: right; */
    padding: 0px 15px;
    font-size: 0.9em;
    margin: 15px 0px;
    border-right: 1px solid #cccc;
}
ul.mainbreadcrums li:last-child {
	border-right:0; 
}



/* Billing Info */
.bookinginfo {
    display: table;
    width: 100%;
    margin-bottom: 80px;
}
.m70pgrid {
    width: 70%;
    display: table-cell;
    border: 1px solid #e5e5e5;
    border-right: 0;
}
.m30pgrid {
    display: table-cell;
    width: 30%;
    border: 1px solid #e5e5e5;
}

.bookingcompleted {
    padding: 50px;
    line-height: 40px;
}
.bookingcompleted b {
    color: #2196F3;
}

.bookingcompleted h3 {
    font-size: 1em;
}
.bookingcompleted p.location .icon {
    padding: 0px 8px;
    color: #f7423f;
    display: inline-block;
}


.travelinfor,
.hotelinfor {
	
}
.travelinfor input {
	min-width: 250px;
}
.travelinfor h4, .hotelinfor h4 {
    padding: 15px;
    font-weight: bold;
    background: #efeff0;
    color: dimgrey;
}

.bookinginfo .details {
    padding: 0 30px 50px;
    color: #555;
}

.bookinginfo .details h5 {
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    margin: 30px 15px;
    position: relative;
    margin-bottom: 25px;
}
.bookinginfo .details h5:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: -15px;
    background: #555;
    border-radius: 5px;
}
.bookinginfo .details p {
    font-size: 0.95em;
    padding: 0 15px;
    line-height: 24px;
}
ul.travelingul {
    list-style: none;
}
ul.travelingul li {
    padding: 8px 17px;
    font-size: 0.95em;
}
ul.travelingul li {
    padding: 8px 17px;
    font-size: 0.95em;
}
ul.travelingul li span:first-child {
    min-width: 150px;
    display: inline-block;
}
ul.travelingul li span:last-child {
    color: #2196F3;
    font-weight: bold;
}

.grandtotal {
    padding: 50px;
    border-top: 1px solid #e5e5e5;
}

.hotelinfor .grandtotal {
	padding: 50px 0;
	border-top:0; 
}
.hotelinfor .grandtotal .totalprice p {
	margin:0;
}

.hotelsummery {
    padding: 30px;
    text-align: center;
    line-height: 28px;
}
.hotelsummery h5 {
    font-size: 1.1em;
    color: #2196F3;
}
.hotelsummery p {
    font-size: 0.95em;
    color: #555;
}
.hotelsummery p .icon {
    padding: 0px 8px;
    color: #f7423f;
    display: inline-block;
}
.totalprice p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 9px;
}
.totalprice b {
    font-size: 3em;
    position: relative;
}
.totalprice small {
    position: absolute;
    top: 0px;
    font-size: 0.5em;
    left: -18px;
}




/*

Hotel Page

*/

.hoteldetails .titlestrip {
    background: #f3f3f2;
    border-radius: 3px;
    margin:15px 0;
}
.hoteldetails .titlestrip * {
    display: inline-block;
    float: left;
}
.hoteldetails .titlestrip button {
    background: transparent;
    border: 0;
    font-size: 1.9em;
    padding: 10px 20px;
    line-height: 0;
}
.hoteldetails .titlestrip h1 {
    font-size: 1.4em;
    margin: 11px;
}
.hoteldetails .titlestrip p.ratting {
    padding: 13px;
    font-size: 1.2em;
}
.hoteldetails .titlestrip .socialshare {
    float: right;
    vertical-align: middle;
}
.hoteldetails .socialshare p {
    padding: 15px;
}
.hoteldetails .titlestrip .socialshare li {
    font-size: 1.6em;
    vertical-align: middle;
    margin: 9px 8px;
}
.hoteldetails .titlestrip .socialshare li a {
	color: #555;
}

.hotelslider img {
    border-radius: 3px;
    width: 100%;
}
.hotelslider {
    margin: 15px 0;
}



/* tabs content */
ul.tabs {
    display: inline-block;
    float: left;
    list-style: none;
    width: 100%;
}
ul.tabs li {
    padding: 10px 30px;
    border-radius: 3px;
    background: #f4f3f3;
    display: inline-block;
    border: 1px solid #e0dddd;
    font-weight: bold;
}
ul.tabs li.tab.active {
    background: transparent;
}
.tabcont {
    display: inline-block;
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 10px 0;
    color: #555;
    font-size: 0.95em;
}
.tabcont p {
    line-height: 24px;
    margin: 15px 0;
}
ul.checkindetails {
    list-style: none;
    margin: 15px 0;
    line-height: 30px;
    display: inline-block;
    width: 100%;
}
.tabcont .address {
    margin: 15px 0;
}

ul.facilities {
    list-style: none;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
ul.facilities li {
    padding: 10px 20px;
    display: inline-block;
    float: left;
    min-width: 33.33%;
    position: relative;
}
ul.facilities li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    left: 0px;
    background: #c1c1c1;
    border-radius: 50%;
}



/* hotel page sidebar */
.hotelbookingdetails {
    background: #f3f3f2;
    margin: 15px 0;
    border-radius: 3px 3px 0 0;
}
.hotelbookingdetails .address {
    background: #f3f3f2;
    padding: 10px;
    font-size: 0.8em;
    color: #555;
    line-height: 20px;
}
.hotelbookingdetails .address .icon {
	padding: 0px 8px;
    color: #f7423f;
    display: inline-block;
}
.googlemap img {
    width: 100%;
}
.pricestrip {
    background: #f7423f;
    color: #fff;
    padding: 15px 7px;
    text-align: center;
    margin: 15px 0;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
        font-weight: bold;
    font-size: 1em;
}
.pricestrip b {
    font-size: 2em;
    vertical-align: middle;
    position: relative;
    margin: 0px 10px;
}

.bookingform {
    padding: 10px;
    color: #555;
}
.bookingform .inputfield {
	padding:10px 0;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.bookingform .inputfield:last-child,
.bookingform .inputfield:nth-last-child(2) {
	border-bottom: 0;
}
.bookingform label {
    display: inline-block;
    font-size: 0.8em;
    line-height: 28px;
    width: 100%;
}
.bookingform label.bedsselection {
    padding: 10px;
}
.bookingform label.bedsselection.bordered {
    border-bottom: 1px dashed #ccc;
}
.bookingform label b {
    color: #f7423f;
    font-size: 1.3em;
}
.bookingform label span.price {
	float:right;
}
.bookingform label input[type="number"] {
    width: 100%;
}
.bookingform p {
    font-size: 0.8em;
    margin:15px 0;
    line-height: 24px;
}
.bookingform b.finalprice {
    font-size: 2.2em;
    float: right;
    color: #f7423f;
}
.bookingform b.totalprice {
	color: #2196F3;
}
button.flotter {
    position: absolute;
    bottom: -23px;
    padding: 10px 25px;
    border-radius: 8px 8px 0 3px;
    background: #f7423f;
    border: 1px solid transparent;
    display: inline-block;
    color: #fff;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
button.flotter:before,
button.flotter:after {
    position: absolute;
    bottom: -11px;
    left: -10px;
    content: '';
    border-top: 10px solid #f7423f;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
button.flotter:after {
	content: '';
	left:auto;
	right: -10px;
}





/* searchresults */
.searchresults {
    margin: 15px 0;
}
.searchbanner img {
    width: 100%;
    border-radius: 5px;
}
.searchlist {
    margin:15px 0;
}

.hotelitem {
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.hotelitem:last-child {
    border-bottom: 0;
}
.hotelitem-details {
    padding-right: 170px;
}
.hotelitem-image img {
    width: 100%;
    border-radius: 2px;
    min-height: 120px;
    max-height: 120px;
}
.hotelitem-details h3 {
    color: #2196F3;
}

.hotelitem-details a.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.hotelitem-loation {
    font-size: 0.95em;
    color: #555;
    display: inline-block;
    padding: 5px 15px;
}
.hotelitem-loation .icon {
    padding: 0px 8px;
    color: #f7423f;
    display: inline-block;
}   
.hotelitem-desc {
    padding: 5px 0;
    font-size: 0.88em;
    line-height: 22px;
}

.hotelitem-booking {
    position: absolute;
    top: 15px;
    right: 0;
    background: red;
    height: 80%;
    width: 160px;
    text-align: center;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
}
.hotelitem-booking:before {
    content: '';
    border-right: 40px solid red;
    border-bottom: 70px solid #fff;
    border-left: 0px solid #fff;
    border-top: 62px solid #fff;
    top: 0;
    position: absolute;
    left: 0;
}
.hotelitem-booking a {
    background: #d42724;
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    bottom: 3px;
    right: 10px;
    display: inline-block;
}
.hotelitem-booking .deal {
    position: absolute;
    background: #2196F3;
    padding: 3px;
    transform: rotate(45deg);
    font-size: 0.8em;
    color: #fff;
    top: 6px;
    right: -25px;
    width: 78px;
    font-weight: bolder;
}

.hotelitem-booking b {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 0 5px;
    position: absolute;
    bottom: 40px;
    color: #fff;
    right: 6px;
    font-size: 1.8em;
    box-sizing: border-box;
}
.hotelitem-booking b.strike {
    font-size: 1.3em;
    bottom: 75px;
}
b.strike.price:before {
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    top: 11px;
    background: #fff;
    right: -1px;
}


/* Search Filter */
.searchresults-filters {
    padding: 0 15px;
    background: #f3f3f2;
    border-radius: 3px;
}
h2.filtermain-title {
    color: #2196F3;
    font-size: 1.2em;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.filtersection {
    padding: 15px 0;
    border-bottom: 1px solid #dadada;
    position: relative;
}
.filtersection h3 {
    font-size: 0.9em;
    color: #2196F3;
}
.filtersection label {
    display: inline-block;
    padding: 10px 0;
}
.filtersection label.radio input {
    display: inline-block;
    float: left;
    line-height: 48px;
}
.filtersection label.radio span {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0px 4px;
    display: inline-block;
    line-height: 15px;
    float: left;
}
.filtersection label.select {
    width: 100%;
}
.filtersection .fieldlabel {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}
.filtersection:last-child,
.filtersection:nth-last-child(2) {
    border-bottom: 0;
}

.filtersection button.flotter {
    bottom: -9px;
}


.searchresults-refine {
    /* padding: 10px 0; */
    /* background: #f3f3f2; */
    /* padding: 0 15px; */
    background: #f3f3f2;
    border-radius: 3px;
    margin: 35px 0;
}
h2.refinemain-title {
    color: #2196F3;
    font-size: 1.2em;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
    /* margin-bottom: 10px; */
}

.refine-accor {
    position: relative;
}
.refine-accor.flotterse {
    padding: 30px;
}
.refine-accor.flotterse button.flotter {
    bottom: -10px;
}

.refine-accor h4 {
    padding: 10px;
    background: #ebebeb;
    font-size: 0.9em;
    color: #2196F3;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}
.refine-accor .accocont {
    padding: 10px;
    background: #fff;
}
.accocont label {
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
}

.refine-accor h4 .icon {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 1.5em;
    /* font-weight: bold; */
}



/* footer section */
.footersection {
	background: #fafafa;
    padding: 25px;
    border-top:1px solid #e6e6e6;
    color: #555
}
.footersection h3 {
    margin-bottom: 20px;
    color: #585858;
}
.footersection p {
    line-height: 22px;
    font-size: 0.95em;
}
ul.footernav {
    padding-left: 20px;
}
ul.footernav li a {
    padding: 5px;
    display: inline-block;
    color: #555;
    text-decoration: none;
    font-size: 0.95em;
}

ul.contactdetails {
    padding-left: 0px;
    list-style: none;
}
ul.contactdetails li {
    padding: 8px 0;
    font-size: 0.95em;
}
ul.contactdetails li span:first-child {
    width: 55px;
    display: inline-block;
}

#footernewsletter input {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 1em;
    background: #e4e4e4;
    outline: none;
}
#footernewsletter label {
    position: relative;
    display: inline-block;
}
form#footernewsletter .icon {
    padding: 8px 15px;
    background: red;
    border-radius: 5px;
    font-size: 1.5em;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: -58px;
    text-align: center;
    color: #fff;
    height: 100%;
    cursor: pointer;
}


/* footer creds section */
.footercredssection {
    background: #f3f3f2;
    padding: 15px;
    border-top:1px solid #e6e6e6;
    color: #555;
}
.footercredssection p {
    font-size: 0.9em;
}


/* home page */
.homepage {
    padding: 250px 0;
    padding-top: 100px;
}
.homemainbody {
    background-image: url('/img/homebanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.homepage .searchresults-filters {
    background:#fff;
}


.dateRangePickerhide {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0 !important;
}


.hotelchoseroom {
    padding: 15px;
    border:1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 10px;
}

.hotelchoseroom h4 {
    margin-bottom: 12px;
}
.hotelchoseroom {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

ul.hotelchoseroom-ul {
    margin: 10px 0;
    list-style: none;
    line-height: 32px;
    font-size: 0.9em;
}

.hotelchoseroom-price h1 {
    white-space: nowrap;
    font-size: 1.6em;
    margin: 10px;
}
.hotelchoseroom-price h1 span {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
    font-weight: normal;
    display: inline-block;
    margin: 5px 0;
}

.hotelchoseroom-saving {
    color: #63cc06;
    font-size: 0.9em;
}







.hotelsearchbar {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

.hotelsearchbar > div {
    display: inline-block;
    float: left;
}

.hotelsearchbar-select {
    width: 30%;
}

.hotelsearchbar-select label {
    display: inline-block;
    width: 100%;
}

.hotelsearchbar-select select {
    background: transparent;
    border: 0;
    padding: 20px;
}

.hotelsearchbar-dates {
    width: 35%;
}
.hotelsearchbar-dates .fieldlabel {
    position: absolute;
    font-size: 0.8em;
    padding: 3px 20px;
    color: #9a9392;
}

.hotelsearchbar-dates input {
    padding: 12px 0;
    font-size: 1.3em;
    background: transparent;
    border: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    border-right: 1px solid #ccc;
    width: 180px;
    white-space: nowrap;
}

.hotelsearchbar-rooms {
    width: 20%;
    position: relative;
}
.hotelsearchbar-rooms h4 {
    padding: 20px 6px;
    text-align: center;
}
.hotelsearchbar-submitt {
    width: 15%;
}

.hotelsearchbar-submitt button {
    padding: 21px 19px;
    float: right;
    margin-right: -5px;
    font-size: 1em;
    text-transform: uppercase;
}


/* adults details box */
.adultdetails-cont {
    position: absolute;
    top: 103%;
    background: #fff;
    width: 320px;
    left: -20%;
    border-radius: 3px;
    z-index: 99;
}
.adultdetails-row.row h4,
.childrenage-details h4 {
    padding: 12px;
    float: left;
}

.adultdetails-row h5 {
    padding: 10px 12px;
    font-size: 0.9em;
}

.adultdetails-row.row h4 b {
    padding: 10px;
    font-weight: bold;
}
.adultdetails-row.row button.icon {
    float: right;
    padding: 10px;
    background: transparent;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

.childrenage-details-cont {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.childrenage-details-cont h5 {
    padding: 10px;
}

.totalrooms h4.roomtitle {
    display: inline-block;
    padding: 7px 12px;
    background: #f6f6f6;
    width: 100%;
    text-align: left;
    font-size: 0.9em;
}

.addrooms button {
    font-size: 0.8em !important;
    background: #f7423f !important;
    font-weight: normal;
    margin: 4px;
    min-width: 75px;
    float: right;
    outline: none;
    cursor: pointer;
}