<breadcrums></breadcrums>
<div class="bookingcompleted clearfix textcenter">
    <h2>Daintee Eco lodge & Spa Hotel</h2>
    <p class="location"><span class="icon ion-location"></span>Dantie Hotel - Hanio, Ventia</p>
    <span class="icon ion-android-star-outline"></span>
    <span class="icon ion-android-star-outline"></span>
    <span class="icon ion-android-star-outline"></span>
    <span class="icon ion-android-star-outline"></span>
    <span class="icon ion-android-star-outline"></span>
</div>

<div class="bookingdetails clearfix">
    <div class="bookinginfo">
        <div class="m70pgrid">
            <div class="travelinfor">
                <h4>Travel Information</h4>
                <div class="details">
                    <h5>Traveller Information</h5>
                    <ul class="travelingul">
                        <li><span>First Name</span><span><input type="text" />  </span></li>
                        <li><span>Last Name</span><span><input type="text" /></span></li>
                        <li><span>Email Address</span><span><input type="text" /></span></li>
                    </ul>
                    <h5>Credit Card Information</h5>
                    <ul class="travelingul">
                        <li><span>Name on Card</span><span><input type="text" />    </span></li>
                        <li><span>Card Number</span><span><input type="text" /></span></li>
                        <li><span>Your Email</span><span><input type="text" /></span></li>
                        <li><span>Expiration Date</span><span><input type="text" /></span></li>
                        <li><span>Security Code</span><span><input type="text" /></span></li>
                    </ul>
                    <h5>Billing Address</h5>
                    <ul class="travelingul">
                        <li><span>Country</span><span><input type="text" /> </span></li>
                        <li><span>City</span><span><input type="text" /></span></li>
                        <li><span>Address</span><span><input type="text" /></span></li>
                        <li><span>State</span><span><input type="text" /></span></li>
                        <li><span>Zip Code</span><span><input type="text" /></span></li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
        <div class="m30pgrid">
            <div class="hotelinfor">
                <h4>Hotel Summary</h4>
                <div class="details">
                    <h5>Summary</h5>
                    <ul class="travelingul">
                        <li><span>Room</span><span>Single Room</span></li>
                        <li><span>Price per night</span><span>$360</span></li>
                        <li><span>Check in</span><span>20-Feb-2013</span></li>
                        <li><span>Check out</span><span>22-Feb-2013</span></li>
                    </ul>
                    <h5>Charges</h5>
                    <ul class="travelingul">
                        <li><span>Time</span><span>02 Nights</span></li>
                        <li><span>Guests</span><span>2 Adult, 1 Child</span></li>
                        <li><span>VAT</span><span>10%</span></li>
                        <li><span>Frand Total</span><span>$790</span></li>
                    </ul>
                    <h5>Accept and Confirm</h5>
                    <label>
                        <input type="radio" name="" />
                        I agree to the booking conditions.
                    </label>
                    <div class="grandtotal textcenter">
                        <div class="totalprice"><p>Grand Total :<p><b><small>$</small>790</b>  </div>
                        <div class="totalbtns">
                            <a href="#" class="btn textupper">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
