<breadcrums></breadcrums>
<div class="bookingcompleted clearfix textcenter">
    <h2><b>Thank you</b>, your booking is completed</h2>
    <h3>Your comfirmation number is <b>2336585</b></h3>
</div>
<div class="bookingdetails clearfix">
    <div class="bookinginfo">
        <div class="m70pgrid">
            <div class="travelinfor">
                <h4>Travel Information</h4>
                <div class="details">
                    <h5>Traveller Information</h5>
                    <ul class="travelingul">
                        <li><span>First Name</span><span>Michel</span></li>
                        <li><span>Last Name</span><span>Lee</span></li>
                        <li><span>Email Address</span><span>Michel@domain.com</span></li>
                        <li><span>Address</span><span>Street 42, Mumbai Naka, 35</span></li>
                    </ul>
                    <h5>Payment</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <h5>Special Request</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="grandtotal textcenter">
                    <div class="totalprice"><p>Grand Total :<p><b><small>$</small>790</b>  </div>
                    <div class="totalbtns">
                        <a href="#" class="btn textupper">Reservation</a>
                        <a href="#" class="btn textupper">Print Receipt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m30pgrid">
            <div class="hotelinfor">
                <h4>Hotel Summary</h4>
                <div class="hotelsummery">
                    <h5>Daintee Eco lodge & Spa Hotel</h5>
                    <p><span class="icon ion-location"></span>Dantie Hotel - Hanio, Ventia</p>
                    <span class="icon ion-android-star-outline"></span>
                    <span class="icon ion-android-star-outline"></span>
                    <span class="icon ion-android-star-outline"></span>
                    <span class="icon ion-android-star-outline"></span>
                    <span class="icon ion-android-star-outline"></span>

                </div>
                <div class="details">
                    <h5>Summary</h5>
                    <ul class="travelingul">
                        <li><span>Room</span><span>Single Room</span></li>
                        <li><span>Price per night</span><span>$360</span></li>
                        <li><span>Check in</span><span>20-Feb-2013</span></li>
                        <li><span>Check out</span><span>22-Feb-2013</span></li>
                    </ul>
                    <h5>Charges</h5>
                    <ul class="travelingul">
                        <li><span>Time</span><span>02 Nights</span></li>
                        <li><span>Guests</span><span>2 Adult, 1 Child</span></li>
                        <li><span>VAT</span><span>10%</span></li>
                        <li><span>Frand Total</span><span>$790</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
