<div class="breadcrums clearfix">
    <ul class="mainbreadcrums">
        <li>Home</li>
        <li>Hotel</li>
        <li>Teades City</li>
        <li class="active">Sheraton Honoi Hotel</li>
    </ul>
</div>