<div class="homepage clearfix row">
    <div class="grid90p aligncenter">


        <div class="hotelsearchbar">
            <div class="hotelsearchbar-select">
                <label>
                    <!-- <span class="fieldlabel">Check In</span> -->
                    <select ng-options="obj.ca as obj.cn for obj in ctrl.cities" ng-model="ctrl.homebooknow.location"></select>
                </label>
            </div>
            <div class="hotelsearchbar-dates">
                <div class="grid6-12 first">
                    <span class="fieldlabel">Check In</span>
                    <input type="date" ng-click="ctrl.showDatePicker()" readonly ng-model="ctrl.homebooknow.checkin" />
                    <input id="dateRangePickerhide" date-range-picker class="form-control dateRangePickerhide date-picker"
                        type="text" ng-model="ctrl.datePicker" ng-change="ctrl.updateCheckInOut()" options="ctrl.datePickerOptins" />
                </div>
                <div class="grid6-12 last">
                    <span class="fieldlabel">Check Out</span>
                    <input type="date" ng-click="ctrl.showDatePicker()" readonly ng-model="ctrl.homebooknow.checkout" />
                </div>
            </div>
            <div class="hotelsearchbar-rooms">
                <h4>3 Rooms, 7 Guests</h4>
                <div class="adultdetails-cont">
                    <div class="adultdetails clearfix">
                    
                        <div class="adultdetails-row row">
                            <div class="grid4-12 first">
                                <h4> Rooms ? </h4>
                            </div>
                            <div class="grid8-12 addrooms last">
                                <button class="plus btn" ng-click="ctrl.addMore('rooms')"> Add </button>
                                <button class="minus btn" ng-click="ctrl.removeSome('rooms')"> Remove </button>
                            </div>
                        </div>

                        <div ng-repeat="room in ctrl.homebooknow.rooms track by $index" class="totalrooms clearfix" ng-init="outerIndex=$index">
                            <h4 class="roomtitle">Room {{$index+1}}</h4>
                            <div class="adultdetails-row row">
                                <div class="grid6-12 first">
                                    <h5> <b>{{room.adults}}</b> Adults </h5>
                                </div>
                                <div class="grid6-12 last">
                                    <button class="icon ion-plus-circled plus" ng-click="ctrl.addMore('adults', $index)"></button>
                                    <button class="icon ion-minus-circled minus" ng-click="ctrl.removeSome('adults', $index)"></button>
                                </div>
                            </div>
                            <div class="adultdetails-row row">
                                <div class="grid6-12 first">
                                    <h5> <b>{{room.childs}}</b> Children </h5>
                                </div>
                                <div class="grid6-12 last">
                                    <button class="icon ion-plus-circled plus" ng-click="ctrl.addMore('childs', $index)"></button>
                                    <button class="icon ion-minus-circled minus" ng-click="ctrl.removeSome('childs', $index)"></button>
                                </div>
                            </div>
                            <div ng-show="ctrl.homebooknow.rooms[$index].childs > 0" class="childrenage-details-cont">
                                <div ng-repeat="age in ctrl.homebooknow.rooms[outerIndex].childAges track by $index" class="childrenage-details row">
                                    <div class="grid6-12 first">
                                        <h5> Age of child {{$index+1}} </h5>
                                    </div>
                                    <div class="grid6-12 last">
                                        <select ng-options="obj.label as obj.value for obj in ctrl.agelist" ng-model="age.age">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="adultdetails-row row">
                            <div class="grid6-12 first">
                                <h4> <b>{{ctrl.homebooknow.adults}}</b> Adults </h4>
                            </div>
                            <div class="grid6-12 last">
                                <button class="ion-plus-circled plus" ng-click="ctrl.addMore('adults')"></button>
                                <button class="ion-minus-circled minus" ng-click="ctrl.removeSome('adults')"></button>
                            </div>
                        </div>
                        <div class="adultdetails-row row">
                            <div class="grid6-12 first">
                                <h4> <b>{{ctrl.homebooknow.child}}</b> Children </h4>
                            </div>
                            <div class="grid6-12 last">
                                <button class="ion-plus-circled plus" ng-click="ctrl.addMore('child')"></button>
                                <button class="ion-minus-circled minus" ng-click="ctrl.removeSome('child')"></button>
                            </div>
                        </div>

                        <div ng-show="ctrl.homebooknow.child > 0" class="childrenage-details-cont">
                            <div ng-repeat="age in ctrl.homebooknow.childAge track by $index" class="childrenage-details row">
                                <div class="grid6-12 first">
                                    <h4> Age of child {{$index+1}} </h4>
                                </div>
                                <div class="grid6-12 last">
                                    <select ng-options="obj.label as obj.value for obj in ctrl.agelist" ng-model="ctrl.homebooknow.childAge[$index].age">
                                    </select>
                                </div>
                            </div>
                        </div>
                    -->
                        

                    </div>
                </div>
            </div>
            <div class="hotelsearchbar-submitt">
                <button class="btn" ng-click="ctrl.booknow()">Find Hotel</button>
            </div>
        </div>



        <div class="grid5-12 first">



            <!--
            <div class="searchresults-filters">
                <h2 class="filtermain-title">Book Now</h2>
                <div class="filtersection clearfix">
                    <h3><b>01.</b> What ?</h3>
                    <label class="radio">
                        <input type="radio" ng-model="ctrl.homebooknow.type" />
                        <span>Hotel</span>
                    </label>
                </div>
                <div class="filtersection clearfix">
                    <h3><b>02.</b> Where ?</h3>
                    <label class="select">
                        <select ng-options="obj.ca as obj.cn for obj in ctrl.cities" ng-model="ctrl.homebooknow.location"></select>

                        <ui-select ng-model="ctrl.location.selected" theme="selectize" on-select="ctrl.updateLocation()" ng-disabled="ctrl.disabled" 
                            title="Choose a location">
                            <ui-select-match placeholder="Select Location">{{$select.selected.cn}}</ui-select-match>
                            <ui-select-choices repeat="location in ctrl.cities | filter: $select.search">
                                <span ng-bind-html="location.cn | highlight: $select.search"></span>
                                <small ng-bind-html="location.ca | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>

                    </label>
                </div>
                
                <div class="filtersection clearfix">
                    <h3><b>03.</b> When ?</h3>
                    <div class="row clearfix">
                        <label class="grid6-12 first">
                            <span class="fieldlabel">Check In</span>
                            <input type="date" ng-click="ctrl.showDatePicker()" readonly ng-model="ctrl.homebooknow.checkin" />
                            <input id="dateRangePickerhide" date-range-picker class="form-control dateRangePickerhide date-picker" type="text" ng-model="ctrl.datePicker" ng-change="ctrl.updateCheckInOut()" options="ctrl.datePickerOptins" />
                        </label>
                        <label class="grid6-12 last">
                            <span class="fieldlabel">Check In</span>
                            <input type="date" ng-click="ctrl.showDatePicker()" readonly ng-model="ctrl.homebooknow.checkout" />
                        </label>
                    </div>
                </div>
                <div class="filtersection clearfix">
                    <h3><b>04.</b> Select Rooms</h3>

                    <div class="row clearfix">
                        <div class="roomselection">
                            <h4>Room 1</h4>
                            <label class="grid4-12 first">
                                <span class="fieldlabel">Adults</span>
                                <input type="number" ng-model="ctrl.homebooknow.adults" />
                            </label>
                            <label class="grid4-12">
                                <span class="fieldlabel">Child</span>
                                <input type="number" ng-model="ctrl.homebooknow.child" />
                            </label>
                            
                        </div>
                    </div>
                    <div class="row clearfix">
                        <button class="btn" > Add Room </button>
                        <button class="btn" > Remove Room </button>
                    </div>

                    <div class="row clearfix">
                        <label class="grid4-12 first">
                            <span class="fieldlabel">Rooms</span>
                            <input type="number" ng-model="ctrl.homebooknow.rooms" />
                        </label>
                        <label class="grid4-12">
                            <span class="fieldlabel">Adults</span>
                            <input type="number" ng-model="ctrl.homebooknow.adults" />
                        </label>
                        <label class="grid4-12 last">
                            <span class="fieldlabel">Child</span>
                            <input type="number" ng-model="ctrl.homebooknow.child" />
                        </label>
                    </div>
                </div>
            
                <div class="filtersection clearfix">
                    <div class="row">
                        <button id="homebooknow" ng-click="ctrl.booknow()" class="submitbtn flotter">Search</button>
                    </div>
                </div>
            </div>

        -->

        </div>
        <div class="grid7-12 last">

        </div>
    </div>
</div>