<breadcrums></breadcrums>
<div class="hotelpage clearfix">
	<div class="hotelinfo row">
		<div class="grid9-12 first">
			<div class="hoteldetails clearfix">
				<div class="titlestrip clearfix">
					<button class="goback">
						<span class="icon ion-ios-arrow-back"></span>
					</button>
					<h1>{{ctrl.hotel.vnm}}</h1>
					<p class="ratting">
						<span class="icon ion-android-star-outline"></span>
						<span class="icon ion-android-star-outline"></span>
						<span class="icon ion-android-star-outline"></span>
						<span class="icon ion-android-star-outline"></span>
						<span class="icon ion-android-star-outline"></span>
					</p>
					<div class="socialshare">
						<p>share :</p>
						<ul>
							<li><a href="#"><span class="icon ion-social-facebook"></span></a></li>
							<li><a href="#"><span class="icon ion-social-linkedin"></span></a></li>
							<li><a href="#"><span class="icon ion-social-twitter"></span></a></li>
						</ul>
					</div>
				</div>
				
				<div class="hotelslider">
					<img src="{{ctrl.hotel.img}}" alt="{{ctrl.hotel.vnm}}" />
				</div>

				<div class="hoteltabscont clearfix">
					<ul class="tabs clearfix">
						<li class="tab active">Overview</li>
						<li class="tab">Facilities</li>
						<li class="tab">Review</li>
					</ul>
					<div class="tabscont clearfix">
						<div class="tabcont active">
							<p>{{ctrl.hotel.hovr}}</p>

							<h4>Timings: </h4>
							<ul class="checkindetails">
								<li><span>Check-In Time :</span><span>{{ctrl.hotel.citm}}</span></li>
								<li><span>Check-Out Time :</span><span>{{ctrl.hotel.cotm}}</span></li>
							</ul>

							<h4>Address: </h4>
							<div class="address">
								<p>{{ctrl.hotel.add.a1}}</p>
								<p>{{ctrl.hotel.add.a2}}</p>
								<p>{{ctrl.hotel.add.sc}} - {{ctrl.hotel.add.pnc}}, {{ctrl.hotel.add.cnt}}</p>
								<p>(+91) 25895 22548</p>
								<p><a href="#">www.hotelbooking.com</a></p>
							</div>

						</div>
						<div class="tabcont">
								
							<h4>Facilities</h4>
							<ul class="facilities">
								<li>Wifi</li>
								<li>Wifi</li>
								<li>Kareko</li>
								<li>Breakfast</li>
								<li>Lunch</li>
								<li>Dinner</li>
								<li>Snakes</li>
								<li>Coffe bar</li>
								<li>Fight</li>
							</ul>

							<h4>Activities</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime saepe, amet sed deleniti excepturi fugit est alias nostrum iste pariatur a placeat ipsum autem veritatis. Quisquam sint distinctio maiores, pariatur!</p>

						</div>
						
					</div>
				</div>



				<div class="hotelchooserooms clearfix">
					<div ng-repeat="rtps in ctrl.pricing.rtps" class="hotelchoseroom row">
						<div class="grid2-12 first">
							<img src="" alt="" />
						</div>
						<div class="grid10-12 last">
							<h4>{{rtps.rnm}}</h4>
							<div class="clearfix row">
								<div class="grid5-12 first">
									<h4>Facilities</h4>
									<ul class="hotelchoseroom-ul">
										<li ng-repeat="enmities in rtps.exts"> {{enmities}} </li>
									</ul>
								</div>
								<div class="grid3-12">
									<h4>Highlights</h4>
									<ul class="hotelchoseroom-ul">
										<li ng-if="rtps.fcl"> <i class="ion-ios-checkmark-outline"></i> Free Cancellation </li>
										<!-- <li ng-if="rtps.fcl"> <i class="ion-ios-checkmark-outline"></i> Free Cancellation </li> -->
									</ul>
								</div>
								<div class="grid4-12 last textcenter">
									<div class="hotelchoseroom-price">
										<h5>Price for 1 nights</h5>
										<h1><span><small>Rs. </small>{{rtps.price.ttwd}}</span> <small>Rs. </small>{{rtps.price.ttad}}</h1>
										<span class="hotelchoseroom-saving">You Saving: <b><small>Rs. </small> {{ rtps.price.dsc }}</b></span>
									</div>
									<div class="hotelchoseroom-booknow">
										<a href="#" class="btn">Book Now</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="grid3-12 last">
			<div class="hotelbookingdetails clearfix">
				<div class="address clearfix">
					<p class="location"><span class="icon ion-location"></span>{{ctrl.hotel.add.a1}}</p>
				</div>
				<div class="googlemap clearfix">
					<img src="https://www.jqueryscript.net/images/Show-Nearby-Places-jQuery-Google-Maps-WhatsNearby.jpg" alt="" />
				</div>
				<!--
				<div class="pricestrip clearfix">
					<p>Price From <b><small>$</small> 360</b><br/> / Night</p>
				</div>
				<div class="bookingform clearfix">
					<form class="clearfix">
						<div class="inputfield">
							<div class="row">
								<div class="grid6-12 first">
									<label>
										<span>Check In</span>
										<input type="date" />
									</label>
								</div>
								<div class="grid6-12 last">
									<label>
										<span>Check In</span>
										<input type="date" />
									</label>
								</div>
							</div>
							<p class="row clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quidem fugiat eum voluptatem optio quos, quibusdam pariatur.</p>
						</div>
						<div class="inputfield">
							<div class="row">
								<label class="bedsselection bordered">
									<input type="radio"> Single Bed Room
									<span class="price">
										<b><small>$</small>360</b> / night
									</span>
								</label>
							</div>
							<div class="row">
								<label class="bedsselection">
									<input type="radio"> Double Bed Room
									<span class="price">
										<b><small>$</small>480</b> / night
									</span>
								</label>
							</div>
						</div>
						<div class="inputfield">
							<div class="row">
								<div class="grid4-12 first">
									<label>
										<span>Rooms</span>
										<input type="number" />
									</label>
								</div>
								<div class="grid4-12 ">
									<label>
										<span>Adults</span>
										<input type="number" />
									</label>
								</div>
								<div class="grid4-12 last">
									<label>
										<span>Child</span>
										<input type="number" />
									</label>
								</div>
							</div>
						</div>
						<div class="inputfield">
							<div class="row">
								<label>
									<b class="totalprice">Total Booking</b>
									<b class="finalprice"><small>$</small> 720</b>
								</label>
							</div>
						</div>
						<div class="inputfield">
							<div class="row">
								<button class="submitbtn flotter">Book Now</button>
							</div>
						</div>
					</form>
				</div>
			-->
			</div>
		</div>
	</div>
</div>
