<div class="navigation">
    <ul class="mainnav">
        <li><a href="/">home</a></li>
        <li><a href="/booking-details">Booking Details</a></li>
        <li><a href="/booking-thankyou">Booking Thankyou</a></li>
    </ul>
    <div class="searchbar">
        <label>
            <input type="text" id="search" placeholder="Search..." />
            <span class="icon ion-search" />
        </label>
    </div>
</div>