<breadcrums></breadcrums>
<div class="searchresults clearfix row">
	<div class="grid3-12 first">

		<div class="searchresults-filters">
			<h2 class="filtermain-title">Book Now</h2>
			<div class="filtersection clearfix">
				<h3><b>01.</b> What ?</h3>
				<label class="radio">
					<input type="radio" />
					<span>Hotel</span>
				</label>
			</div>
			<div class="filtersection clearfix">
				<h3><b>02.</b> Where ?</h3>
				<label class="select">
					<select>
						<option value="hotel-a1">Hotel A1</option>
						<option value="hotel-b1">Hotel B1</option>
						<option value="hotel-c1">Hotel X1</option>
						<option value="hotel-d1">Hotel D1</option>
					</select>
				</label>
			</div>
			<div class="filtersection clearfix">
				<h3><b>03.</b> When ?</h3>
				<div class="row clearfix">
					<label class="grid6-12 first">
						<span class="fieldlabel">Check In</span>
						<input type="date" />
					</label>
					<label class="grid6-12 last">
						<span class="fieldlabel">Check In</span>
						<input type="date" />
					</label>
				</div>
			</div>
			<div class="filtersection clearfix">
				<h3><b>04.</b> Who ?</h3>
				<div class="row clearfix">
					<label class="grid4-12 first">
						<span class="fieldlabel">Rooms</span>
						<input type="number" />
					</label>
					<label class="grid4-12">
						<span class="fieldlabel">Adults</span>
						<input type="number" />
					</label>
					<label class="grid4-12 last">
						<span class="fieldlabel">Child</span>
						<input type="number" />
					</label>
				</div>
			</div>
			<div class="filtersection clearfix">
				<div class="row">
					<button class="submitbtn flotter">Book Now</button>
				</div>
			</div>
		</div>

		<div class="searchresults-refine">
			<h2 class="refinemain-title">Refine Search Results</h2>
			<div class="refine-accor">
				<h4>Price Range <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor">
				<h4>Star Rating <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor">
				<h4>Accommodation Type <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont">
					<label for="">
						<input type="radio" />
						<span>Apartment</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Hotel</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Apartment</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Gest House</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Bed & Breakfast</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Apartment</span>
					</label>
					<label for="">
						<input type="radio" />
						<span>Farm Stay</span>
					</label>
				</div>
			</div>
			<div class="refine-accor">
				<h4>Hotel Facilities <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor">
				<h4>Hotel Theme <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor">
				<h4>Accessibility Options <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor">
				<h4>Payment Options <span class="icon ion-ios-plus-empty"></h4>
				<div class="accocont"></div>
			</div>
			<div class="refine-accor flotterse">
				<div class="row">
					<button class="submitbtn flotter">Book Now</button>
				</div>
			</div>
		</div>

	</div>
	<div class="grid9-12 last">
		<div class="searchinfo clearfix row">
			<div class="searchbanner clearfix">
				<img src="http://www.rider-hotel.com/media/djmediatools/cache/800x400-crop-90-images_djmediatools_rider-hotel_zimmer_012.jpg.8.jpg"
				    alt="" />
			</div>
			<div class="pagination clearfix"></div>
			<div class="searchlist clearfix">

				<div ng-repeat="hotel in ctrl.cityhotels" class="hotelitem clearfix">
					<div class="hotelitem-image grid2-12 first">
						<img src="{{hotel.img}}" alt="{{hotel.vnm}}" />
					</div>
					<div class="grid10-12 hotelitem-details">
						<h3>{{hotel.vnm}}</h3>
						<div class="hotelitem-ratting">
							<span class="icon ion-android-star"></span>
							<span class="icon ion-android-star"></span>
							<span class="icon ion-android-star"></span>
							<span class="icon ion-android-star"></span>
							<span class="icon ion-android-star"></span>
							<p class="hotelitem-loation"> {{hotel.add.a1 | cut:true:50:'...'}} <span class="icon ion-location"></span></p>
						</div>
						<p class="hotelitem-desc">
							{{hotel.hovr  | cut:true:120:' ...'}}
						</p>
						<a href="/city/{{ctrl.routeParams.cityname}}/{{hotel.vid}}">Read More <span class="icon ion-ios-arrow-thin-right"></span></a>
						<div class="hotelitem-booking">
							<b class="strike price"><small>$</small>900</b>
							<b class="price"><small>$</small>600</b>
							<span class="deal">Hot</span>
							<a href="#">Book Now</a>
						</div>
						<a href="/city/{{ctrl.routeParams.cityname}}/{{hotel.vid}}" class="overlay"></a>
					</div>
				</div>

				<!-- <div class="hotelitem clearfix">
					<div class="hotelitem-image grid2-12 first">
						<img src="http://www.rider-hotel.com/media/djmediatools/cache/800x400-crop-90-images_djmediatools_rider-hotel_zimmer_012.jpg.8.jpg" alt="" />
					</div>
					<div class="grid10-12 hotelitem-details">
						<h3>Sheraton hantol Hotel</h3>
						<div class="hotelitem-ratting">
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<p class="hotelitem-loation">Dantie Hotel - Hanio, Ventia <span class="icon ion-location"></span></p>
						</div>
						<p class="hotelitem-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi excepturi dolorem magni itaque dicta, recusandae harum...
						</p>
						<a href="#">Read More <span class="icon ion-ios-arrow-thin-right"></span></a>
						<div class="hotelitem-booking">
							<b class="strike price"><small>$</small>900</b>
							<b class="price"><small>$</small>600</b>
							<span class="deal">Hot</span>
							<a href="#">Book Now</a>
						</div>
					</div>
				</div>
				
				<div class="hotelitem clearfix">
					<div class="hotelitem-image grid2-12 first">
						<img src="http://www.rider-hotel.com/media/djmediatools/cache/800x400-crop-90-images_djmediatools_rider-hotel_zimmer_012.jpg.8.jpg" alt="" />
					</div>
					<div class="grid10-12 hotelitem-details">
						<h3>Sheraton hantol Hotel</h3>
						<div class="hotelitem-ratting">
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<p class="hotelitem-loation">Dantie Hotel - Hanio, Ventia <span class="icon ion-location"></span></p>
						</div>
						<p class="hotelitem-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi excepturi dolorem magni...
						</p>
						<a href="#">Read More <span class="icon ion-ios-arrow-thin-right"></span></a>
						<div class="hotelitem-booking">
							<b class="price"><small>$</small>600</b>
							<span class="deal">Hot</span>
							<a href="#">Book Now</a>
						</div>
					</div>
				</div>

				<div class="hotelitem clearfix">
					<div class="hotelitem-image grid2-12 first">
						<img src="http://www.rider-hotel.com/media/djmediatools/cache/800x400-crop-90-images_djmediatools_rider-hotel_zimmer_012.jpg.8.jpg" alt="" />
					</div>
					<div class="grid10-12 hotelitem-details">
						<h3>Sheraton hantol Hotel</h3>
						<div class="hotelitem-ratting">
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<span class="icon ion-android-star-outline"></span>
							<p class="hotelitem-loation">Dantie Hotel - Hanio, Ventia <span class="icon ion-location"></span></p>
						</div>
						<p class="hotelitem-desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi excepturi dolorem magni itaque dicta...
						</p>
						<a href="#">Read More <span class="icon ion-ios-arrow-thin-right"></span></a>
						<div class="hotelitem-booking">
							<b class="price"><small>$</small>600</b>
							<a href="#">Book Now</a>
						</div>
					</div>
				</div> -->


			</div>
		</div>
	</div>
</div>